<p id="notice"><%= notice %></p>

<p>
  <strong>Newspaper:</strong>
  <%= @content.newspaper %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @content.comment %>
</p>

<p>
  <strong>Articletext:</strong>
  <%= @content.articletext %>
</p>

<%= link_to 'Edit', edit_content_path(@content) %> |
<%= link_to 'Back', contents_path %>
